slugify
certifi
chardet
Click
elasticsearch
Flask
Flask-Cors
Flask-Executor
# gevent
idna
itsdangerous
Jinja2
MarkupSafe
pyodbc
requests
six
python-slugify
urllib3
waitress
Werkzeug
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
dateparser
geotext
personalnames
flashtext
spacy
bs4
dictor